<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrivacyCheak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D988A7A320E47A6000AD207F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D988A7BB20E47A6A00AD207F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D988A7C620E47A6A00AD207F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
